<div class="container">
  <h1>{{playerName}} Position Your Ships</h1>

  <h5>Instructions:</h5>
  <p>Click to intially place a ship then use arrow keys to move ship, spacebar will rotate the ship and enter confirms the placement</p>
  <div style="margin-top:2%;">
    <div class="board-rows">
      <div class="board-columns" *ngFor="let item of grid; index as i">
        <div
             *ngFor="let obj of item;index as j"
             [ngStyle]="{'background': changeColor(obj), 'color': changeColor(obj)}"
             class="square"
             (click)="putShip(i,j)"
             >
        {{obj}}
        </div>
      </div>
    </div>
  </div>
</div>






